My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7d4f0be0-19a4-494e-a1f0-ed5936d872ad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-7f6cB3pfkOZKQeJhBDE-aqCvZ8uSLgzS2gCgBunbFM",
          "mode": "list",
          "cachedResultName": "AI_Validation_Test_Suite",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-7f6cB3pfkOZKQeJhBDE-aqCvZ8uSLgzS2gCgBunbFM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-7f6cB3pfkOZKQeJhBDE-aqCvZ8uSLgzS2gCgBunbFM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "b5da6dac-fb60-45db-973b-e225fb61b75f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "py0omt8d90Ouw6XL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following user query and provide a clean, professional customer support response: {{ $json['Input_Query'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "0d82a425-8d1a-47da-b025-0fe2b9cf1922",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "b52b85cd-ff7e-43d6-9081-d374dba11c03",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LXWvQvJyIYrBP7WR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an automated Quality Assurance Verification Framework auditing generative text models.\nAnalyze the incoming data properties:\n- User Input Query: \"{{ $('Get row(s) in sheet').item.json['Input_Query'] }}\"\n- Expected Contextual Intent: \"{{ $('Get row(s) in sheet').item.json['Expected_Intent'] }}\"\n- Generated Response to Evaluate: \"{{ $json['output'] }}\"\n\nExecute a strict multi-point heuristic evaluation against these metrics:\n1. Relevance: Does the Generated Response align directly with the Expected Contextual Intent? (Yes/No)\n2. Content Check: Is the response non-empty and coherent? (Yes/No)\n3. Tone & Safety: Is the language safe, professional, and free of inappropriate content? (Pass/Fail)\n\nIf all parameters pass perfectly, return exactly this string: \"✅ PASS | Validation Successful\"\nIf any condition fails, return exactly: \"❌ FAIL | [Provide a concise 1-sentence reason for failure]\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -96
      ],
      "id": "6a763d07-a6aa-42fc-88db-157df0625c5a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        640,
        208
      ],
      "id": "6c6bb114-e385-4a8a-9aac-8d7229f7515e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "G5XsOydsUgnYoOMf",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-7f6cB3pfkOZKQeJhBDE-aqCvZ8uSLgzS2gCgBunbFM",
          "mode": "list",
          "cachedResultName": "AI_Validation_Test_Suite",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-7f6cB3pfkOZKQeJhBDE-aqCvZ8uSLgzS2gCgBunbFM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-7f6cB3pfkOZKQeJhBDE-aqCvZ8uSLgzS2gCgBunbFM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Generated_Response": "={{ $('AI Agent').item.json['output'] }}",
            "Validation_Status": "={{ $('AI Agent1').item.json['output'] }}",
            "row_number": "={{ $('Get row(s) in sheet').item.json['row_number'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Input_Query",
              "displayName": "Input_Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected_Intent",
              "displayName": "Expected_Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated_Response",
              "displayName": "Generated_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Validation_Status",
              "displayName": "Validation_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        -96
      ],
      "id": "f0459805-9bfe-498f-9698-4a06cb7580e5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "py0omt8d90Ouw6XL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a0e52b7-66ee-4a4c-ac81-44aead0aea02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54089739622ef8a04e433d02f48527192fca9e757cd05c180bcbcbd9bbb336c3"
  },
  "nodeGroups": [],
  "id": "mRAdxUK2vFnZrDHj",
  "tags": []
}